{% load waffle_tags %}

{{ feature11 }}
<body>

{% flag feature1 %}
<p>template feature1 on</p>
{% else %}
<p>template feature1 off</p>
{% endflag %}

{% flag question %}
<h1>Question Module</h1>

	{% for q in question_array %}
	{{ q }}<br/>
	{% endfor %}
{% endflag %}

{% flag answer %}
<h1>Answer Module</h1>
	{% for answer in answer_array %}
		{{ answer }}<br/>
	{% endfor %}
{% endflag %}

{% if cookie_question %}
cookie_question
{{cookie_question}}
{% endif %}
<br/>
{% if cookie_answer %}
cookie_answer
{{cookie_answer}}
{% endif %}
<br/>
{% if cookie_feature1 %}
cookie_feature1
{{cookie_feature1}}
{% endif %}
</body>